@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .globe-cursor {
    cursor: url('/globe.svg') 0 0, auto;
  }
  .cursor-capy {
    cursor: url('/capycorn3.svg') 25 25, auto;
  }
  .cursor-capy-hover {
    cursor: url('/capycorn2.svg') 25 25, pointer;
  }
  .cursor-capy-click {
    cursor: url('/capycorn1.svg') 25 25, auto;
  }
}
